h2{
  color:white;
  text-decoration: underline;
  margin:5px;
  font-size: 230%;
}
p{
  margin: 10px;
  font-size: larger;
  color:white;
}
a {
  color: white;
}
a:visited {
  color: white;
}
a:hover, a:active, a:focus {
  color: white;
}
#RandyPic{
  float: right;
  margin: 10px;
  margin-top:10px;
  height: 60%;
  width: 30%;
}
#quote{
  color: white;
  font-style: italic;
  font-size: larger;
  display: flex;
  justify-content: center;
}


