body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, #root {
  height: 100%;
}

.smIcon{
  display: inline-block;
  padding: 1px;
}

h1{
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  margin: 0px;
  font-size:325%
}
header{
  background-color: purple;
  border-bottom: solid 1px white;
  height: 75px;
}
footer {
  background-color: black;
}
img{
  height: 30px;
  width: 30px;
}
.homeLinks{
  display: inline-block;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 5px;
  margin-left:30px;
  margin-right: 30px;
}

#smLinks{
  position: absolute;
  right: 5px;
  top:70px;
}
#WebsiteNav{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5px;
  margin:0px;
}
.column {
  float: left;
  width: 50%;
}

.rectangle {
  height: 5px;
  background-color: black;
  margin:auto;
  margin-top:10px;
  width: 50%;
  

}
h2{
  color:white;
  margin-left: 100px;
}
.section{
  margin-left:100px;
  margin-top:-10px;
  display:list-item;
  color:indigo;
}
.title{
  margin:8px;
}
.collapse{
  color:lightblue;
  display:block;
  font-size: small;
}
.fullArticle{
  color:lightblue;
  font-size:small;

}
ul{
  display: none;
}
li{
  color:white;
}
#articles{
  text-align: center;
  font-size: 300%;
  margin:20px;
}
#podcasts{
  text-align: center;
  font-size: 300%;
  margin:20px;
}

#root {
  display: flex;
  flex-direction: column;
}
#chester {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}

#left-arm {
  background-color: gray;
  flex-basis: 50px;
}

#right-arm {
  background-color: gray;
  flex-basis: 50px;
}

#torso {
  background-color: indigo;
  flex-grow: 1;
}



