body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, #root {
  height: 100%;
}

li{
  display: inline-block;
  padding: 1px;
}
h1{
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  margin: 0px;
  font-size:325%
}
header{
  background-color: purple;
  border-bottom: solid 1px white;
  height: 75px;
}
footer {
  background-color: black;
}
img{
  height: 30px;
  width: 30px;
}
.homeLinks{
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 5px;
  margin-left:30px;
  margin-right: 30px;
}

.ribbon{
  text-decoration: none;
  color: white;
}

#smLinks{
  position: absolute;
  right: 5px;
  top:70px;
}
#WebsiteNav{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5px;
  margin:0px;
}

#root {
  display: flex;
  flex-direction: column;
}
#chester {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}

#left-arm {
  background-color: gray;
  flex-basis: 50px;
}

#right-arm {
  background-color: gray;
  flex-basis: 50px;
}

#torso {
  background-color: indigo;
  flex-grow: 1;
}



