.RandyiFrame {
  display: inline-block;
  /*vertical-align: top;*/
  width: 400px;
  background-color: purple;
  border:solid black;
  border-radius: 30px;
  margin:10px;
}
h2{
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 160%;
  font-weight: bolder;

  color:#FFFF00;
  animation-name: popularZone;
  position: relative;
  animation-iteration-count: 3;
  animation-duration: 3s;
  top:90px;
}

@keyframes popularZone {
  0%   {top:90px;}
  25%  {top:180px;}
  50%  {top:90px;}
  75%  {top:0px;}
  100% {top:90px;}

  0%{color: #FFFF00;}
  10%{color: transparent}
  20%{color: #FFFF00;}
  30%{color: transparent}
  40%{color: #FFFF00;}
  50%{color: transparent}
  60%{color: #FFFF00;}
  70%{color: transparent}
  80%{color: #FFFF00;}
  90%{color: transparent}
  100%{color: #FFFF00;}
}

h3 {
  text-align: center;
}
.videoHeaders{
  color:white;
  display: flex;
  justify-content: center;
}
.RandyExample{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 370px;
  height: 315px;
}
.iFramePositioner{
  display: flex;
  justify-content: center;  
}
/*#animation{
  animation-name: animation;
  animation-duration: 4s;
  background-color: tomato;

}
@keyframes animation {
  0%   {background-color:red;left:0px; top:0px;}
  25%  {background-color:orange;left:200px; top:0px;}
  50%  {background-color:blue;left:200px; top:200px;}
  75%  {background-color:green;left:0px; top:200px;}
  100% {background-color:tomato;left:0px; top:0px;}
}*/





